/.idea
/.sass-cache
/node_modules
/temp
/coverage
/public/theme.zip
.DS_Store
*.swp
selenium-debug.log
/shop/assets/*.css
/shop/assets/*.min.js
!theme.min.js
/shop/assets/custom_checkout.min.js
/shop/assets/checkout.min.js
/shop/assets/vendor-main.bundle.js
/shop/assets/vendor-checkout.bundle.js
/shop/assets/*.map
/cypress/screenshots/
/cypress/videos/
/shop/assets/theme.scss
/shop/snippets/pxl_scripts.liquid
/shop/snippets/pxl_checkout_scripts.liquid
