{
  "extends": ["stylelint-prettier/recommended"],
  "plugins": [
    "stylelint-declaration-strict-value",
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "color-hex-length": "short",
    "color-named": "never",
    "color-no-invalid-hex": true,
    "declaration-bang-space-after": "never",
    "declaration-bang-space-before": "always",
    "declaration-block-no-duplicate-properties": [
      true,
      { "ignore": "consecutive-duplicates" }
    ],
    "declaration-property-value-blacklist": {
      
    },
    "function-url-quotes": "always",
    "max-nesting-depth": 5,
    "no-duplicate-selectors": true,
    "order/properties-alphabetical-order": true,
    "scss/at-import-no-partial-leading-underscore": true,
    "selector-max-id": 0,
    "selector-pseudo-element-colon-notation": "double",
    "shorthand-property-no-redundant-values": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "at-rule-no-vendor-prefix": true,
    "value-no-vendor-prefix": true
  }
}
