%fancy-button {
  @include fade-fast;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;

  .pxl-fancy-button-svg {
    display: none;

    @include breakpoint(large up) {
      align-items: center;
      display: flex;
      height: 100%;
      padding-right: 30px;
      pointer-events: none;
      position: absolute;
      top: 5px;
      width: 200%;
    }
  }

  .pxl-fancy-button-svg > svg {
    @include fade-fast;
    opacity: 0;
    width: 100%;
  }

  &:hover {
    background-color: $black;

    .pxl-fancy-button-svg > svg {
      opacity: 1;
    }

    > a {
      color: $white;
      font-family: $font-family-bold;
      font-weight: 700;
    }
  }
}
