<section class="jobs-hello jobs-hello--tall section-p">
  <div class="section-width-wrapper">
    <div class="jobs-hello__content">
      <h2 class="jobs-hello__title jobs-hello__title--big">{{section.settings.title}}</h2>
      <p class="jobs-hello__text">{{section.settings.description}}</p>
      <a
        href="{{section.settings.button_url}}"
        class="btn-rounded btn-rounded--big btn-rounded--black"
        target="_blank">
        {{section.settings.button_text}}
      </a>
    </div>
  </div>
</section>