.cart {
  padding: 5vh 20px;

  @include breakpoint(small down) {
    margin-top: 0;
    padding-top: 0;
  }

  input.quantity {
    border-radius: 5px;
  }

  .theme {
    // padding-top: 40px;

    @include breakpoint(medium up) {
      // padding-top: 50px;
    }

    @include breakpoint(xlarge up) {
      // padding-top: 100px;
    }
  }

  h2 {
    @extend %subheader-font-style;
  }

  .empty {
    a {
      margin: 0 auto;
      max-width: 275px;
    }
  }

  .btn {
    @extend %steps-button;
    @extend %fancy-button;
  }

  .pxl-fancy-button {
    width: 100%;

    .pxl-fancy-button-svg {
      // stop button far right pushing beyond body boundary
      // which adds a horizontal scroll
      width: 120%;
    }
  }

  .info__tax {
    padding-top: 20px;
  }

  .info__subtotal {
    font-size: rem-calc(22px);
    text-align: center;

    @include breakpoint(large up) {
      font-size: rem-calc(28px);
      text-align: left;
    }
    @include breakpoint(small down) {
      display: flex;
      margin-bottom: 15px;
    }
  }

  input.btn {
    margin: 0 auto;
  }
  .cart-section-options {
    .cart-extra {
      display: none;
    }
  }
  // .cart-info-container {

  // }
  .cart-info-container .btn {
    @include breakpoint(small only) {
      margin-top: 0;
      max-width: none;
    }
  }
  .show-note {
    font-size: 14px;

    &:hover {
      color: #000;
    }
  }
  .cart__discount {
    background-color: #ecdcd0;
    border: 1px solid #f0f0f0;
    display: block;
    margin-bottom: 15px;
    padding: 8px 10px;
    width: 100%;

    @include breakpoint(small down) {
      margin-top: 15px;
    }
  }

  .cart__subtotal {
    display: inline-block;
    width: 100%;

    @include breakpoint(large up) {
      text-align: left;
    }
  }

  .cart__foot {
    @include breakpoint(small only) {
      font-size: rem-calc(22px);
      font-weight: bolder;
    }
  }

  .pxl-product-content-blocks {
    @include breakpoint(medium up) {
      flex-direction: row;
    }

    @include breakpoint(large up) {
      width: 68%;
    }
  }

  .text-link-container {
    @include breakpoint(large up) {
      padding-top: 78px;
    }
  }

  &__disclaimer {
    background-color: #fff;
    border-radius: 5px;
    color: #946d6a;
    padding: 12px;

    @include breakpoint(medium down) {
      margin-bottom: 30px;
    }
    @include breakpoint(small down) {
      margin-bottom: 16px;
      padding: 8px;
    }
  }
  &__disclaimer-text {
    font-size: 14px;
    line-height: (18/14);

    p {
      color: inherit;
      font-size: inherit;
      line-height: inherit;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    strong,
    b {
      color: inherit !important;
      font-size: inherit !important;
      font-weight: bold !important;
      line-height: inherit !important;
    }
    i,
    em {
      color: inherit !important;
      font-size: inherit !important;
      font-style: italic !important;
      line-height: inherit !important;
    }

    @include breakpoint(medium down) {
    }
    @include breakpoint(small down) {
    }
  }
}

.af_txtbx_holder input {
  border-radius: 5px 0 0 5px;
}
