<h1>H1 Text - Für spürbaren Komfort</h1>
<h2>H2 Text</h2>
<h3>H3 Text</h3>

<p>Paragraph text</p>

<strong>This is strong</strong>

<blockquote style="margin-top: 20px;">
  This is a quote
</blockquote>

<a class="hero__btn btn btn--large">
  Button stuff
</a>
