<section class="page page-jobs page-fullwidth section-p">
  <div class="section-width-wrapper">
    {%comment%}
    <h2 class="theme">{{ page.title }}</h2>
    {%endcomment%}
    <div class="page-jobs__content">
      {{ page.content }}
    </div>
  </div>
</section>

{% section 'jobs-accordeon'%}
{% section 'jobs-hello'%}