// COLOURS

$white: #fff;
$white-off: #fafafa;
$black: #000;
$alert: #a83939;
$brand-dark: #946d6a;
$brand-mid: #ccb5a3;
$brand-medium: #e26d5c;
$brand-light: $black;
$brand: #ecdcd0;
$brand-off: #e0cbba;
$background-alternative: #e2cab9;

// FONTS

$font-family-primary: steps, sans-serif;
$font-family-bold: steps, sans-serif;
$font-family-heavy: steps, sans-serif;

// $font-family-primary: steps-regular, sans-serif;
// $font-family-bold: steps-bold, sans-serif;
// $font-family-heavy: steps-heavy, sans-serif;

// MEASUREMENTS

$mobile-nav-height: 115px;
$desktop-nav-height: 140px;
$sticky-button-padding: 0 20px;
$sticky-cta-height: 11vh;
$sticky-cta-button-height: 60px;

$max-width-l: 984px; // ipad
$max-width-xl: 1160px; // desktop+
