@import 'settings';
@import 'helpers/.helpers';
@import 'lib/.lib';
@import 'fonts/font_definitions';
@import 'base/base';
@import 'layout/.layout';
@import 'modules/.modules';
@import 'components/snippets/.snippets';
@import 'components/sections/.sections';
@import 'pages/.pages';

@import 'animations/.animations';

html body {
  &,
  .container {
    background-color: $brand;
  }

  *:focus {
    outline: 0;
  }

  /* stylelint-disable selector-max-id */
  &.no-preview-bar {
    #preview-bar-iframe {
      display: none;
    }
  }
  /* stylelint-enable selector-max-id */
}

.flex-wrapper {
  padding: 0;
}

.site-footer--push {
  margin-bottom: 0;
}

.grid__item {
  @include breakpoint(large up) {
    padding-left: 0 !important;
  }
}

.image-with-text__image-img {
  background-color: transparent;
}

.pxl-mobile-only {
  @include breakpoint(medium up) {
    display: none;
  }
}

.pxl-hide-mobile {
  @include breakpoint(medium down) {
    display: none;
  }
}

/* stylelint-disable selector-max-id */
#chatra.chatra--side-bottom {
  @include breakpoint(small only) {
    bottom: 80px !important;
  }
}
/* stylelint-enable selector-max-id */

.product-widget-review {
  width: 227px;
}
