<div class="popup-material">
  <!-- popup-material--visible -->
  <div class="popup-material__btn">
    <img src="{{ 'i-close.svg' | asset_url }}" alt="" class="popup-material__btn-icon">
    <div class="popup-material__btn-label">Close</div>
  </div>

  <div class="popup-material__overlay"></div>

  <div class="popup-material__body">
    <h2 class="popup-material__title">{{section.settings.title}}</h2>
    <p class="popup-material__text">{{section.settings.text | newline_to_br }}</p>
  </div>
</div>



{% schema %}
{
  "name": "materials popup",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    }
  ]
}
{% endschema %}