<section class="press-b">
  <div class="section-width-wrapper">
    <h2 class="press-b__title h2">{{ section.settings.title }}</h2>
    <div class="press-b__slider">
      {% for block in section.blocks %}
        <div class="press-b__slide">
          <div class="press-b__slide-inner">
            <p class="press-b__slide-text">» {{block.settings.quote}} «</p>
            <div class="press-b__logo-wrapper">
              <img src='{{ block.settings.image | img_url: 'master' }}' class="press-b__logo"/>
            </div>
          </div>
        </div>
      {% endfor %}
      
    </div>
  </div>
</section>


{% schema %}

{
  "name": "Known for",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Title"
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Article logo"
        }, {
          "type": "textarea",
          "id": "quote",
          "label": "Article quote"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Known for",
      "category": "Image",
      "blocks": [
        {
          "type": "article"
        },
        {
          "type": "article"
        },
        {
          "type": "article"
        }
      ]
    }
  ]
}

{% endschema %}
