<section class="reviews-carousel">
  <div class="section-width-wrapper">
    <h2 class="reviews-carousel__title">{{ section.settings.title }}</h2>
      <!-- TrustBox widget - Carousel -->
        <div class="trustpilot-widget" data-locale="de-DE" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="5e8dd51ab12e1e00015e1564" data-style-height="300px" data-style-width="100%" data-theme="light" data-tags="Favorite" data-stars="4,5" data-review-languages="de" data-font-family="Montserrat" data-text-color="#1C1C1C">
          <a href="https://de.trustpilot.com/review/get-steps.com" target="_blank" rel="noopener">Trustpilot</a>
        </div>
        <!-- End TrustBox widget -->
  </div>
</section>


{% schema %}

{
  "name": "Trustpilot carousel",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Title"
    }
  ],
  "presets": [
    {
      "name": "Trustpilot carousel",
      "category": "Reviews"
    }
  ]
}

{% endschema %}
