.product__selectors,
.pre-purchase-message .quantity-selector {
  display: none !important;
}

.conf {
  @include breakpoint(medium down) {
    margin-top: 40px;
  }

  &__block {
    display: none;
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &--active {
      display: block;
    }
  }
  &__title {
    display: none;

    @include breakpoint(medium down) {
      display: block;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 45px;
    }
    @include breakpoint(small down) {
      font-size: 24px;
      padding: 0 35px;
      text-align: center;
    }
  }
  &__block-heading {
    align-items: flex-start;
    display: flex;
    margin-bottom: 25px;
  }
  &__block-title {
    font-size: 20px;
    font-weight: bold;
    margin-right: auto;
    max-width: 265px;

    @include breakpoint(medium down) {
      font-size: 17px;
      line-height: (23/17);
    }
  }
  &__btn {
    background-color: #ccb5a3;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin-left: 30px;
    padding: 0 11px;
    text-align: center;
    user-select: none;

    &:hover {
      color: #fff;
    }
  }
  &__box {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px 8px;
  }
  &__item {
    flex-grow: 0;
    margin-bottom: 9px;
    padding: 0 5px;
    width: 20%;

    @include breakpoint(medium down) {
      width: 25%;
    }

    @media (max-width: 360px) {
      width: 33.3333%;
      width: calc(100% / 3);
    }
  }
  &__item-inner {
    background-color: #f0f0f0;
    border-radius: 3px;
    cursor: pointer;
    height: 55px;
    position: relative;
    user-select: none;
    width: 100%;

    &::after {
      border: 1px solid #000;
      border-radius: 3px;
      box-sizing: border-box;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity 0.3s;
      width: 100%;

      .conf__item--active & {
        opacity: 1;
      }
    }
  }
  &__item-icon {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  &__item-material {
    align-items: center;
    border: 3px solid #f0f0f0;
    border-radius: 3px;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &__item-material-bg {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__content {
    display: none;

    &--active {
      display: block;
    }

    a {
      color: #946d6a;
      font-size: 14px;
      line-height: (21/14);
      text-decoration: underline;
    }
  }
  &__content-title {
    font-size: 20px;
    font-weight: bold;
    line-height: (28/20);
    margin-bottom: 6px;

    @include breakpoint(medium down) {
      font-size: 17px;
      line-height: (23/17);
    }
  }
  &__content-text {
    font-size: 14px;
    line-height: (21/14);

    @include breakpoint(medium down) {
      font-size: 17px;
      line-height: (23/17);
    }

    p {
      font-size: inherit !important;
      margin: 0;
    }
  }
  &__content-link {
    color: #946d6a;
    font-size: 14px;
    line-height: (21/14);
    text-decoration: underline;
  }
  &__content-image {
    display: none;
    margin-top: 14px;
    max-width: 100%;
    width: 100%;

    @include breakpoint(medium down) {
      display: block;
    }
  }
}

.shoe-materials,
.shoe-types {
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
