.pre-purchase-message {
  @extend %body-text-small-captions;
}

.product__submit__add {
  @extend %button-font-style-white;
}

.template-product.custom {
  @include breakpoint(large down) {
    //  hide but do not remove native quantity and add to cart
    .quantity-selector,
    .product__submit.product__submit--spb {
      height: 0;
      margin: 0;
      opacity: 0;
      padding: 0;
    }

    .main-content {
      @include breakpoint(small down) {
        padding-top: 0;
      }
    }
  }

  @include breakpoint(large up) {
    .product__wrapper {
      margin: 0;
    }

    .main-content {
      padding-top: 30px;
    }

    .grid.product__page {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: 0;
      @media (max-width: 1023px) {
        flex-direction: column;
      }
    }
  }

  .glide__bullets {
    display: none;

    @include breakpoint(medium down) {
      display: inline-flex;
    }
  }
}

.jdgm-widget.jdgm-widget {
  color: $black !important;
}

#shopify-section-product_custom {
  padding-bottom: 100px;

  @include breakpoint(medium down) {
    padding-bottom: 200px;
  }
  @include breakpoint(small down) {
  }
}
